header {
  background-image: url("assets/background.png");
  background-color: #312e38;
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}

.nutthss {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.nutthss-img {
  border-radius: 8px;
  width: 100%;
}

.participate {
  background-image: url("assets/background2.png");
  background-color: #312e38;
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.regulation {
  background-image: url("assets/background3.png");
  background-color: #312e38;
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register {
  background-image: url("assets/background4.png");
  background-color: #312e38;
  min-height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
